$radius: 8px;

.code-box{

  &-example{
    margin-top: 20px;
    border: 2px solid #ececec;
    padding: 1em;
    border-radius: $radius $radius 0 0;
  }

  &-Highlighter{
    margin-top: 0 !important;
    border-radius: 0 0 $radius $radius;
  }

  &-wrap{
    margin-bottom: 80px;
  }
}

@media (max-width: 767px){
  .code-box-content{
    min-width: 280px;
    width: calc(100vw - 2rem);
  }
}