.example{
  color: #4d4d4d;
  margin-bottom: 200px;
  width: 100%;
  &-l{height: 300px; color: #fff;}
  &-h{background-color: #8cc5f1; margin: 2px; padding: 4px; height: 3em;}
  &-c{background-color: #ffaba0; margin: 2px; padding: 4px;}
  &-f{background-color: #8cc5f1; margin: 2px; padding: 4px; height: 3em;}
  &-a{background-color: #ffaebb; margin: 2px; padding: 4px; min-width: 6em; width: 20%;}
}